* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a3d;
}

.artist-body {
  background-color: #1a1a3d;
}

header {
  padding: 16px;
  display: flexbox;
  text-align: center;
  justify-content: center;
  background-color: #7c8ea6;
}

.return-button {
  text-decoration: none;
  color: black;
}

.list {
  padding: 12px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  background-color: #7c8ea6;
}

.list {
  padding: 12px;
  display: flex;
  justify-content: center;
  background-color: #7c8ea6;
}

main {
  padding: 50px;
  display: flexbox;
  justify-content: center;
  text-align: center;
  background-color: #353440;
}

.getData {
  padding: 19px;
}

.start-text {
  color: bisque;
}

/* Artist profile picture */
.artist-profile-picture {
  border-radius: 50%;
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-right: 10px;
}

.artist-bio-section {
  padding-bottom: 2rem;
  background-color: bisque;
}

#stage-name-text {
  font-style: Helvetica;
}

/* Carousel - Albums styles */

.album-col {
  position: relative;
}

.album-img {
  width: 100%;
  height: auto;
  align-items: right;
}
.album-name {
  color: whitesmoke;

  text-align: center;

  margin-top: 10px;
}

.carousel-indicators li {
  list-style-type: none;
}

/* Top tracks section */
#top-tracks-text {
  background-color: #1a1a3d;
  color: whitesmoke;
}

.scrollable-tracks {
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #353440;
  padding: 10px;
}

.track-row {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #353440;
  display: flex;
  align-items: center;
}

#top-tracks-img {
  flex: 0 0 15rem;
  width: 100%;
  max-width: 150px;
  height: auto;
  object-fit: cover;
  margin-right: 20px;
}

#top-track-name {
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis; /* Adds ... if name is long */
  color: whitesmoke;
  white-space: nowrap; /* Track name does not go to next line*/
}

#top-tracks-popularity {
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis; /* Adds ... if name is long */
  color: whitesmoke;
  white-space: nowrap;
}

.labels {
  color: #7c8ea6;
}
