
<!-- This is out model file that contain the main structure of our html file -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Artist Discover App</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="../static/img/icons8-man-in-headphones-32.png">
</head>
<body>
    <header>
        <h1>Super Artist Discover App</h1>
        <h4>This app is design to interact with user and get interesting information about your favorite artist.</h4>
    </header>
    <div class="list">
        <ul>
            <dl><Strong>List of API for this project</Strong></dl>
            <li>MusicBrainz</li>
            <li>YouTube API</li>
            <li>Spotify API</li>
        </ul>
    </div>

    {% block content %}
    
    {% endblock %}
   
</body>
</html>